@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.top-bar {
  background-color: #fff;
  position: absolute;
  top: 15%;
  width: 80%;
  border: 1px solid #000000;
  border-radius: 5% 30% 5% 20% / 15% 5% 20% 5%;
  padding: 15px 15px;
  z-index: 1;
}

.top-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 15% 1% 12% 14% / 2% 1% 4% 4%;
  transform: translate3d(-50%, -50%, 0) scale(1.01) rotate(0.5deg);
  z-index: -1;
}

.btn {
  display: inline;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 40% 45% 75% 55% / 60% 30% 55% 45%;
  z-index: 1;
}

.one,
.two,
.three {
  cursor: pointer;
}

.one {
  background-color: #e5383b;
}

.two {
  background-color: #ffc300;
}

.three {
  background-color: #72b01d;
}

.one::before,
.two::before,
.three::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 5%;
  height: 70%;
  border: 1px solid #000000;
  border-radius: 70% 35% 55% 55% / 60% 90% 55% 45%;
  z-index: -1;
}

.one::before {
  left: 5%;
  transform: translate3d(-50%, -50%, 0) scale(1) rotate(0.5deg);
}

.two::before {
  left: 10%;
  transform: translate3d(-50%, -50%, 0) scale(1) rotate(75deg);
}

.three::before {
  left: 15.5%;
  transform: translate3d(-50%, -50%, 0) scale(1) rotate(200deg);
}

.game-container {
  padding: 30px;
  width: 600px;
  border: 1px solid #000000;
  border-radius: 15% 5% 5% 15% / 5% 5% 55% 5%;
  box-shadow: 20px 20px #eeeeee;
  z-index: 1;
}

.game-container::after,
.game-container::before {
  position: absolute;
  content: "";
  top: 52%;
  width: 85%;
  height: 59%;
  border: 1px solid #000000;
  z-index: -1;
}

.game-container::after {
  left: 51%;
  border-radius: 15% 10% 10% 35% / 1% 5% 15% 10%;
  transform: translate3d(-51%, -50%, 0) scale(0.99) rotate(1deg);
}

.game-container::before {
  background-color: #fff;
  left: 50%;
  border-radius: 10% 5% 5% 55% / 5% 5% 5% 10%;
  transform: translate3d(-50.5%, -50%, 0) scale(0.99) rotate(0.1deg);
}

h1 {
  margin: 0 0 20px 0;
  text-align: center;
  font-family: "Alexandria", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.winner {
  text-align: center;
  margin: 0 0 10px 0;
}

.gameSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.playerChoice,
.computerChoice {
  text-align: center;
  margin: 15px 0 10px 0;
}

.playerScore,
.computerScore {
  margin: 15px 0 25px 0;
  text-align: center;
}

.playerImgs,
.computerImgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 20px;
  width: 250px;
}

.btn-new-game-container {
  padding: 25px 0 0 0;
  text-align: center;
}

.new-game-btn {
  font-family: "Alexandria", sans-serif;
  font-size: 17px;
  font-weight: 300;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15% 15% 25% 20% / 35% 25% 20% 15%;
  padding: 5px 20px;
  z-index: 1;
}

.new-game-btn::before {
  content: "";
  position: absolute;
  top: 71%;
  left: 42%;
  width: 16%;
  height: 5%;
  border: 1px solid #000;
  border-radius: 10% 15% 35% 50% / 30% 25% 40% 15%;
  transform: translate3d(-2%, -5%, 0) scale(1) rotate(1deg);
  z-index: -1;
}
